@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

section {
  padding-top: 100px;
  margin-top: -100px; 
}

@keyframes waveAnimation {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-wave-gradient {
  background: linear-gradient(90deg, rgb(231, 84, 212), rgb(64, 235, 149), rgb(231, 84, 212));
  background-size: 200% 100%;
  animation: waveAnimation 5s linear infinite;
}

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.text-xl {
  font-size: 1.25rem;
}

.font-bold {
  font-weight: bold;
}